<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/minimal/common :: minimalHead"></head>

<body class="home home-5">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v1 relative"
			th:replace="fragments/front/minimal/common :: minimalHeader">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="content" class="site-content" role="main">
						<section class="section section-padding m-b-60">
							<div class="section-container">
								<div class="block-widget-wrap">
									<!-- Block Sliders -->
									<div class="block block-sliders layout-5 nav-left auto-height">
										<div class="slick-sliders" data-autoplay="true" data-dots="true"
											data-nav="false" data-columns4="1" data-columns3="1" data-columns2="1"
											data-columns1="1" data-columns1440="1" data-columns="1">
											<div class="item slick-slide">
												<div class="item-content">
													<div class="item-info">
														<div class="content">
															<div class="content-wrap">
																<h2 class="title-slider">Designed for Life<br> Made for
																	you.</h2>
																<a class="button-slider button-white"
																	href="shop-grid-left.html">VIEW DETAILs</a>
															</div>
														</div>
													</div>
													<div class="content-image">
														<img width="700" height="785"
															src="/front/minimal/media/slider/13.jpg" alt="Image Slider">
													</div>
												</div>
											</div>
											<div class="item slick-slide">
												<div class="item-content">
													<div class="item-info">
														<div class="content">
															<div class="content-wrap">
																<h2 class="title-slider">Lighting <br>Inspiration</h2>
																<a class="button-slider button-white"
																	href="shop-grid-left.html">VIEW DETAILs</a>
															</div>
														</div>
													</div>
													<div class="content-image">
														<img width="700" height="785"
															src="/front/minimal/media/slider/14.jpg" alt="Image Slider">
													</div>
												</div>
											</div>
											<div class="item slick-slide">
												<div class="item-content">
													<div class="item-info">
														<div class="content">
															<div class="content-wrap">
																<h2 class="title-slider">Chair <br>Collection</h2>
																<a class="button-slider button-white"
																	href="shop-grid-left.html">VIEW DETAILs</a>
															</div>
														</div>
													</div>
													<div class="content-image">
														<img width="700" height="785"
															src="/front/minimal/media/slider/15.jpg" alt="Image Slider">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding">
							<div class="section-container">
								<!-- Block Products -->
								<div class="block block-products">
									<div class="block-widget-wrap">
										<ul class="nav nav-tabs" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" data-toggle="tab" href="#furniture"
													role="tab">제품 카테고리01</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#home-decor" role="tab">제품
													카테고리02</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#lighting" role="tab">제품
													카테고리03</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#outdoor" role="tab">제품
													카테고리04</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade show active" id="furniture" role="tabpanel">
												<div class="content-product-list slick-wrap">
													<div class="slick-sliders products-list grid"
														data-slidestoscroll="true" data-item_row="1" data-dots="0"
														data-nav="1" data-columns4="2" data-columns3="2"
														data-columns2="3" data-columns1="3" data-columns1440="4"
														data-columns="4">
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">BEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">LATEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">BEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">LATEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="home-decor" role="tabpanel">
												<div class="content-product-list slick-wrap">
													<div class="slick-sliders products-list grid"
														data-slidestoscroll="true" data-item_row="1" data-dots="0"
														data-nav="1" data-columns4="2" data-columns3="2"
														data-columns2="3" data-columns1="3" data-columns1440="4"
														data-columns="4">
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">BEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">LATEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="lighting" role="tabpanel">
												<div class="content-product-list slick-wrap">
													<div class="slick-sliders products-list grid"
														data-slidestoscroll="true" data-item_row="1" data-dots="0"
														data-nav="1" data-columns4="2" data-columns3="2"
														data-columns2="3" data-columns1="3" data-columns1440="4"
														data-columns="4">
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">BEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">LATEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="outdoor" role="tabpanel">
												<div class="content-product-list slick-wrap">
													<div class="slick-sliders products-list grid"
														data-slidestoscroll="true" data-item_row="1" data-dots="0"
														data-nav="1" data-columns4="2" data-columns3="2"
														data-columns2="3" data-columns1="3" data-columns1440="4"
														data-columns="4">
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">BEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item-product slick-slide">
															<div class="items">
																<div class="products-entry clearfix product-wapper">
																	<div class="products-thumb">
																		<div class="product-lable">
																			<div class="hot">LATEST</div>
																		</div>
																		<div class="product-thumb-hover">
																			<a href="#">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1.jpg"
																					class="post-image" alt="">
																				<img width="600" height="600"
																					src="/front/minimal/media/product/1-2.jpg"
																					class="hover-image back" alt="">
																			</a>
																		</div>
																		<div class="product-button">
																			<div class="btn-compare"
																				data-title="Compare">
																				<button class="product-btn">제품비교
																					등록하기</button>
																			</div>
																			<span class="product-quickview"
																				data-title="Quick View">
																				<a href="#"
																					class="quickview quickview-button">빠르게
																					보기
																					<i class="icon-search"></i></a>
																			</span>
																		</div>
																	</div>
																	<div class="products-content">
																		<div class="contents text-center">
																			<h3 class="product-title"><a
																					href="#">제품명</a></h3>
																			<span class="price">== Descriptioins
																				==</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding m-b-80">
							<div class="section-container">
								<!-- Block Banners (Layout 5) -->
								<div class="block block-banners layout-5 banners-effect">
									<div class="block-widget-wrap">
										<div class="row">
											<div class="col-md-6 sm-m-b-50">
												<div class="block-widget-banner layout-7">
													<div class="bg-banner">
														<div class="banner-wrapper banners">
															<div class="banner-image">
																<a href="shop-grid-left.html">
																	<img width="496" height="577"
																		src="/front/minimal/media/banner/banner-6.jpg"
																		alt="Banner Image">
																</a>
															</div>
															<div class="banner-wrapper-infor">
																<div class="info">
																	<div class="content">
																		<a class="link-title"
																			href="shop-grid-left.html">
																			<h3 class="title-banner">For your
																				personal<br> collection </h3>
																		</a>
																		<div class="banner-image-description">
																			Sed lectus. Aliquam lorem ante, dapibus in,
																			viverra quis, feugiat a, tellus
																		</div>
																		<a class="button button-outline"
																			href="shop-grid-left.html">VIEW DETAILs</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="block-widget-banner layout-7">
													<div class="bg-banner">
														<div class="banner-wrapper banners">
															<div class="banner-image">
																<a href="shop-grid-left.html">
																	<img width="496" height="577"
																		src="/front/minimal/media/banner/banner-7.jpg"
																		alt="Banner Image">
																</a>
															</div>
															<div class="banner-wrapper-infor">
																<div class="info">
																	<div class="content">
																		<a class="link-title"
																			href="shop-grid-left.html">
																			<h3 class="title-banner">Always by your side
																			</h3>
																		</a>
																		<div class="banner-image-description">
																			Make you bedroom your inner sanctuary.
																		</div>
																		<a class="button button-outline"
																			href="shop-grid-left.html">VIEW DETAILs</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding m-b-70">
							<div class="section-container">
								<div class="block-widget-wrap">
									<!-- Block Lookbook -->
									<div class="block block-lookbook">
										<div class="lookbook-wrap default">
											<div class="lookbook-container">
												<div class="lookbook-content">
													<div class="item">
														<img width="869" height="702"
															src="/front/minimal/media/banner/lookbook-4.jpg"
															alt="Look Book">
														<div class="item-lookbook"
															style="height:30px;width:30px;left:29.55%;top:54.27%">
															<span class="number-lookbook">1</span>
															<div class="content-lookbook"
																style="left:33px; bottom:10px;">
																<div class="item-thumb">
																	<a href="shop-details.html">
																		<img width="1000" height="1000"
																			src="/front/minimal/media/product/7.jpg"
																			alt="">
																	</a>
																</div>
																<div class="content-lookbook-bottom">
																	<div class="item-title">
																		<a href="#">제품명</a>
																	</div>
																	<span class="price">
																		<span class="price">Product Description</span>
																	</span>
																</div>
															</div>
														</div>
														<div class="item-lookbook"
															style="height:30px;width:30px;left:53.69%;top:79.16%">
															<span class="number-lookbook">2</span>
															<div class="content-lookbook"
																style="right:33px; bottom:10px;">
																<div class="item-thumb">
																	<a href="shop-details.html">
																		<img width="1000" height="1000"
																			src="/front/minimal/media/product/4.jpg"
																			alt="">
																	</a>
																</div>
																<div class="content-lookbook-bottom">
																	<div class="item-title">
																		<a href="#">제품명</a>
																	</div>
																	<span class="price">
																		<span class="price">Product Description</span>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding m-b-70">
							<div class="section-container">
								<!-- Block Products -->
								<div class="block block-products slider">
									<div class="block-widget-wrap">
										<div class="block-title">
											<h2>LATEST PRODUCTs</h2>
										</div>
										<div class="block-content">
											<div class="content-product-list slick-wrap">
												<div class="slick-sliders products-list grid" data-slidestoscroll="true"
													data-dots="false" data-nav="1" data-columns4="1" data-columns3="2"
													data-columns2="3" data-columns1="3" data-columns1440="4"
													data-columns="4">
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">제품 카테고리</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="#">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교제품 등록</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명</a>
																		</h3>
																		<span class="price">Product Description</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">제품 카테고리</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="#">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교제품 등록</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명</a>
																		</h3>
																		<span class="price">Product Description</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">제품 카테고리</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="#">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교제품 등록</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명</a>
																		</h3>
																		<span class="price">Product Description</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">제품 카테고리</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="#">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교제품 등록</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명</a>
																		</h3>
																		<span class="price">Product Description</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">제품 카테고리</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="#">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/minimal/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교제품 등록</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명</a>
																		</h3>
																		<span class="price">Product Description</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding background-1 p-t-70 p-b-80 m-b-0">
							<div class="section-container">
								<div class="block block-newsletter layout-2 one-col m-b-15">
									<div class="block-widget-wrap">
										<div class="newsletter-title-wrap">
											<h2 class="newsletter-title">HIDDEN BATH의 소식을 받아보세요!</h2>
											<div class="newsletter-text">이메일 주소를 남겨주시면 최신 소식을 전달해 드립니다.</div>
										</div>
										<form action="" method="post" class="newsletter-form">
											<input type="email" name="your-email" value="" size="40"
												placeholder="Email address">
											<span class="btn-submit">
												<input type="submit" value="SUBSCRIBE">
											</span>
										</form>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding p-t-20 m-b-20">
							<div class="section-container">
								<div class="block block-image slider">
									<div class="block-widget-wrap">
										<div class="slick-wrap">
											<div class="slick-sliders" data-nav="0" data-columns4="2" data-columns3="3"
												data-columns2="4" data-columns1="4" data-columns1440="5"
												data-columns="5">
												<div class="item slick-slide">
													<div class="item-image">
														<a href="#">
															<img width="450" height="450"
																src="/front/minimal/media/brand/1.jpg" alt="Brand 1">
														</a>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="item-image">
														<a href="#">
															<img width="450" height="450"
																src="/front/minimal/media/brand/2.jpg" alt="Brand 2">
														</a>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="item-image">
														<a href="#">
															<img width="450" height="450"
																src="/front/minimal/media/brand/3.jpg" alt="Brand 3">
														</a>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="item-image">
														<a href="#">
															<img width="450" height="450"
																src="/front/minimal/media/brand/4.jpg" alt="Brand 4">
														</a>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="item-image">
														<a href="#">
															<img width="450" height="450"
																src="/front/minimal/media/brand/5.jpg" alt="Brand 5">
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<footer id="site-footer" class="site-footer" th:replace="fragments/front/minimal/common :: minimalFooter">
		</footer>
	</div>
	<th:block th:replace="fragments/front/minimal/common :: minimalScript"></th:block>
</body>

</html>