<!DOCTYPE html>
<html 
lang="ko" 
xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/beauty/common :: beautyHead"></head>

<body id="homepage" class="de_light">

	<div id="wrapper">

		<header class="transparent" th:replace="fragments/front/beauty/common :: beautyHeader"></header>


		<div id="content" class="no-bottom no-top">

			<section id="section-slider" class="fullwidthbanner-container text-white" aria-label="section-slider">
				<div id="slider-revolution">
					<ul>
						<li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
							<img alt="" class="rev-slidebg" data-bgparallax="0" src="/front/beauty/images-architect/slider/wide1.jpg">

							<div class="tp-caption size-72 font-weight-thin text-white" data-x="0" data-y="290"
								data-height="none" data-whitespace="nowrap"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1200" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
								MODERN
							</div>

							<div class="tp-caption size-72 font-weight-bold text-white" data-x="0" data-y="370"
								data-height="none" data-whitespace="nowrap"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1200" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
								APARTMENT
							</div>

							<div class="tp-caption size-20 ls-20px sft" data-x="0" data-y="450" data-width="none"
								data-height="none" data-whitespace="nowrap" data-speed="1200" data-start="400"
								data-easing="easeInOutExpo">
								THE LUXURY LIFE STYLE
							</div>

						</li>

						<li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
							<img alt="" class="rev-slidebg" data-bgparallax="0" src="/front/beauty/images-architect/slider/wide2.jpg">

							<div class="tp-caption size-72 font-weight-thin text-white" data-x="0" data-y="290"
								data-height="none" data-whitespace="nowrap"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1200" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
								ELEGANT
							</div>

							<div class="tp-caption size-72 font-weight-bold text-white" data-x="0" data-y="370"
								data-height="none" data-whitespace="nowrap"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1200" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
								OFFICE TOWER
							</div>

							<div class="tp-caption size-20 ls-20px sft" data-x="0" data-y="450" data-width="none"
								data-height="none" data-whitespace="nowrap" data-speed="1200" data-start="400"
								data-easing="easeInOutExpo">
								A GREAT PLACE TO WORK
							</div>

						</li>

					</ul>
				</div>
			</section>


			<section id="section-services">

				<div class="container">
					<div class="row">
						<div class="col-md-6 offset-md-3 text-center wow fadeInUp">
							<h1>히든바스 SERVICE</h1>
							<div class="separator"><span><i class="fa fa-square"></i></span></div>
							<div class="spacer-single"></div>
						</div>

						<div class="clearfix"></div>

						<div class="col-lg-3 wow fadeInUp" data-wow-delay="0s">
							<div class="shadow-light">
								<img src="/front/beauty/images-architect/services/1.jpg" class="img-responsive" alt="">

								<div class="text padding30" data-bgcolor="#ffffff">
									<h3>서비스 TITLE</h3>
									<p>=== 서비스 CONTENCTs ===</p>
									<p>=== 서비스 CONTENCTs ===</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 wow fadeInUp" data-wow-delay=".3s">
							<div class="shadow-light">
								<img src="/front/beauty/images-architect/services/2.jpg" class="img-responsive" alt="">
								<div class="text padding30" data-bgcolor="#ffffff">
									<h3>서비스 TITLE</h3>
									<p>=== 서비스 CONTENCTs ===</p>
									<p>=== 서비스 CONTENCTs ===</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 wow fadeInUp" data-wow-delay=".6s">
							<div class="shadow-light">
								<img src="/front/beauty/images-architect/services/3.jpg" class="img-responsive" alt="">

								<div class="text padding30" data-bgcolor="#ffffff">
									<h3>서비스 TITLE</h3>
									<p>=== 서비스 CONTENCTs ===</p>
									<p>=== 서비스 CONTENCTs ===</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 wow fadeInUp" data-wow-delay=".9s">
							<div class="shadow-light">
								<img src="/front/beauty/images-architect/services/4.jpg" class="img-responsive" alt="">
								<div class="text padding30" data-bgcolor="#ffffff">
									<h3>서비스 TITLE</h3>
									<p>=== 서비스 CONTENCTs ===</p>
									<p>=== 서비스 CONTENCTs ===</p>
								</div>
							</div>
						</div>

					</div>

				</div>

			</section>

			<section id="call-to-action" class="text-dark call-to-action padding40 text-light" data-bgcolor="#18191B"
				aria-label="cta">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-8 col-md-7">
							<h3 class="size-2 no-margin">히든은 <span class="id-color">비규격 주문을</span> 제공합니다.</h3>
						</div>

						<div class="col-lg-4 col-md-5 text-right">
							<a href="#" class="btn-line-white">비규격주문 하러가기</a>
						</div>
					</div>
				</div>
			</section>


			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-6 offset-md-3 text-center wow fadeInUp">
							<h1>=== 제품 카테고리별 조회 PAGING SECTION ==</h1>
							<div class="separator"><span><i class="fa fa-square"></i></span></div>
							<div class="spacer-single"></div>
						</div>

						<div class="col-md-12">
							<ul id="filters" class="wow fadeInUp" data-wow-delay="0s">
								<li><a href="#" data-filter=".category-1">카테고리</a></li>
								<li><a href="#" data-filter=".category-2">카테고리</a></li>
								<li><a href="#" data-filter=".category-3">카테고리</a></li>
								<li><a href="#" data-filter=".category-4">카테고리</a></li>
								<li class="pull-right"><a href="#" data-filter="*" class="selected">VIEW ALL</a>
								</li>
							</ul>

						</div>
					</div>

					<div id="gallery" class="row gallery full-gallery de-gallery pf_4_cols overlay-dark sequence">

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 col-xs-12 sq-item item mb30 category-1">
							<div class="picframe wow">
								<a href="10_project-details.html">
									<span class="overlay">
										<span class="pf_text">
											<span class="project-name">Modern Building 1</span>
										</span>
									</span>
								</a>
								<img src="/front/beauty/images-architect/portfolio/1.jpg" alt="" />
							</div>
						</div>
						<!-- close gallery item -->

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 col-xs-12 sq-item item mb30 category-2">
							<div class="picframe wow">
								<a href="10_project-details.html">
									<span class="overlay">
										<span class="pf_text">
											<span class="project-name">Modern Building 2</span>
										</span>
									</span>
								</a>

								<img src="/front/beauty/images-architect/portfolio/2.jpg" alt="" />
							</div>
						</div>
						<!-- close gallery item -->

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 col-xs-12 sq-item item mb30 category-2">
							<div class="picframe wow">
								<a href="10_project-details.html">
									<span class="overlay">
										<span class="pf_text">
											<span class="project-name">Modern Building 3</span>
										</span>
									</span>
								</a>

								<img src="/front/beauty/images-architect/portfolio/3.jpg" alt="" />
							</div>
						</div>
						<!-- close gallery item -->

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 col-xs-12 sq-item item mb30 category-1">
							<div class="picframe wow">
								<a href="10_project-details.html">
									<span class="overlay">
										<span class="pf_text">
											<span class="project-name">Modern Building 4</span>
										</span>
									</span>
								</a>
								<img src="/front/beauty/images-architect/portfolio/4.jpg" alt="" />
							</div>
						</div>
						<!-- close gallery item -->

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 col-xs-12 sq-item item mb30 category-3">
							<div class="picframe wow">
								<a href="10_project-details.html">
									<span class="overlay">
										<span class="pf_text">
											<span class="project-name">Modern Building 5</span>
										</span>
									</span>
								</a>
								<img src="/front/beauty/images-architect/portfolio/5.jpg" alt="" />
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 sq-item item mb30 category-4">
							<div class="picframe wow">
								<a href="10_project-details.html">
									<span class="overlay">
										<span class="pf_text">
											<span class="project-name">Modern Building 6</span>
										</span>
									</span>
								</a>
								<img src="/front/beauty/images-architect/portfolio/6.jpg" alt="" />
							</div>
						</div>
					</div>
				</div>
			</section>


			<section id="section-how-it-works" data-bgimage="url(/front/beauty/images-architect/bg/2.jpg) top" class="text-light">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-5 wow fadeInRight" data-wow-delay=".2s">
							<h2 class="style-2"><span class="id-color">Discover</span></h2><br>
							<h2>How It Works?</h2>
							<p class="lead">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</p>
							<div class="spacer-half"></div>
							<a href="#" class="btn-line-white">Contact Us Now</a>
						</div>
						<div class="col-md-6 offset-md-1 wow fadeInLeft" data-wow-delay=".4s">
							<figure class="picframe invert transparent shadow-soft rounded">
								<span class="v-center">
									<span>
										<a id="play-video" class="video-play-button popup-youtube"
											href="https://www.youtube.com/watch?v=CmCIZ_aUAeQ">
											<span></span>
										</a>
									</span>
								</span>
								<img src="/front/beauty/images-architect/misc/1.jpg" class="img-fullwidth" alt="">
							</figure>
						</div>
					</div>
				</div>
			</section>


			<footer class="text-light" th:replace="fragments/front/beauty/common :: beautyFooter"></footer>
		</div>
	</div>


	<th:block th:replace="fragments/front/beauty/common :: beautyScript"></th:block>
</body>
</html>