<!DOCTYPE html>
<html 
lang="ko" 
xmlns:th="http://www.thymeleaf.org">

<head th:fragment="beautyHead">
	<meta charset="utf-8">
	<link rel="icon" href="/front/beauty/images/icon.png" type="image/gif" sizes="16x16">
	<title>HIDDEN BATH</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="#">
	<meta name="keywords" content="#">
	<meta name="author" content="#">

	<link href="/front/beauty/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap" />
	<link href="/front/beauty/css/plugins.css" rel="stylesheet" type="text/css">
	<link href="/front/beauty/css/style.css" rel="stylesheet" type="text/css">
	<link href="/front/beauty/css/color.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/front/beauty/css/bg.css" type="text/css">
	<link rel="stylesheet" href="/front/beauty/css/colors/blue-3.css" type="text/css" id="colors">

	<link rel="stylesheet" href="/front/beauty/revolution/css/settings.css" type="text/css">
	<link rel="stylesheet" href="/front/beauty/revolution/css/layers.css" type="text/css">
	<link rel="stylesheet" href="/front/beauty/revolution/css/navigation.css" type="text/css">
	<link rel="stylesheet" href="/front/beauty/css/rev-settings.css" type="text/css">
	<link rel="stylesheet" href="/front/beauty/css/font-style-2.css" type="text/css">
</head>


<header class="transparent" th:fragment="beautyHeader">
	<div class="info">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="column">고객센터 : 월요일 ~ 금요일 <span
							class="id-color"><strong>09:00-18:00</strong></span></div>
					<div class="column">Toll Free <span class="id-color"><strong>1800.899.900</strong></span>
					</div>
					<div class="column social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="logo">
					<a href="#">
						LOGO
					</a>
				</div>
				<span id="menu-btn"></span>

				<nav class="md-flex">
					<ul id="mainmenu">
						
						<li><a href="#">HIDDEN</a>
							<ul>
								<li><a href="#">회사소개</a></li>
								<li><a href="#">연혁</a></li>
								<li><a href="#">오시는길</a></li>
							</ul>
						</li>
						<li><a href="#">PRODUCTs</a>
							<ul>
								<li><a href="#">거울</a></li>
								<li><a href="#">슬라이드장</a></li>
								<li><a href="#">상부장</a></li>
								<li><a href="#">하부장</a></li>
								<li><a href="#">세트</a></li>
							</ul>
						</li>
						<li><a href="#">서비스</a>
							<ul>
								<li><a href="#">인테리어 카테고리</a></li>
								<li><a href="#">인테리어 카테고리</a></li>
								<li><a href="#">인테리어 카테고리</a></li>
							</ul>
						</li>
						<li><a href="#">CUSTOMER CENTER</a>
							<ul>
								<li><a href="#">공지사항</a></li>
								<li><a href="#">자주묻는질문</a></li>
								<li><a href="#">고객문의</a></li>
								<li><a href="#">CATALOG</a></li>
							</ul>
						</li>
						<li><a href="#">비규격주문</a></li>
						<li><a href="#"><span aria-hidden="true" class="icon_search"></span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>



<footer class="text-light" th:fragment="beautyFooter">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				LOGO<br>HIDDEN BATH DESCRIPTIONs
			</div>

			<div class="col-md-3">
				<div class="widget widget_recent_post">
					<h3>PRODUCTs</h3>
					<ul>
						<li><a href="">=== 제품 ===</a></li>
						<li><a href="#">=== 제품 ===</a></li>
						<li><a href="#">=== 제품 ===</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-3">
				<h3>Contact Us</h3>
				<div class="widget widget-address">
					<address>
						<span>=== ADDRESS ===</span>
						<span><strong>PHONE : </strong>123-123-123</span>
						<span><strong>FAX : </strong>123-123-123</span>
						<span><strong>EMAIL : </strong><a href="#">contact@contact.com</a></span>
					</address>
				</div>
			</div>

			<div class="col-md-3">
				<div class="widget widget_recent_post">
					<h3>SERVICEs</h3>
					<ul>
						<li><a href="#">=== 시공 ===</a></li>
						<li><a href="#">=== 시공 ===</a></li>
						<li><a href="#">=== 시공 ===</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					&copy; Copyright 2023 - Archi Interior Design Template by <span class="id-color">Designesia</span>
				</div>
				<div class="col-md-6 text-right">
					<div class="social-icons">
						<a href="#"><i class="fa fa-facebook fa-lg"></i></a>
						<a href="#"><i class="fa fa-twitter fa-lg"></i></a>
						<a href="#"><i class="fa fa-rss fa-lg"></i></a>
						<a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
						<a href="#"><i class="fa fa-skype fa-lg"></i></a>
						<a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" id="back-to-top"></a>
</footer>

<th:block th:fragment="beautyScript">
	<script src="/front/beauty/js/plugins.js"></script>
	<script src="/front/beauty/js/designesia.js"></script>
	<script src="/front/beauty/js/jquery.event.move.js"></script>
	<script src="/front/beauty/js/jquery.twentytwenty.js"></script>

	<script src="/front/beauty/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script src="/front/beauty/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>

	<script src="/front/beauty/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script src="/front/beauty/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="/front/beauty/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="/front/beauty/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="/front/beauty/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="/front/beauty/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="/front/beauty/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="/front/beauty/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

	<script>
		jQuery(document).ready(function () {
			// revolution slider
			jQuery("#slider-revolution").revolution({
				sliderType: "standard",
				sliderLayout: "fullscreen",
				delay: 5000,
				navigation: {
					arrows: {
						enable: true
					},
					bullets: {
						enable: false,
						style: 'hermes'
					},

				},
				parallax: {
					type: "mouse",
					origo: "slidercenter",
					speed: 2000,
					levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
				},
				responsiveLevels: [1920, 1380, 1240],
				gridwidth: [1360, 1200, 940],
				spinner: "off",
				gridheight: 700,
				disableProgressBar: "on"
			});
		});
	</script>

	<script>
		$(window).on("load", function () {
			$(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.5});
			$(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.5, orientation: 'vertical'});
		});
	</script>
</th:block>

</body>

</html>