<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/survey/common :: surveyHead"></head>

<body>

	<th:block th:replace="fragments/front/survey/common :: surveyHeader"></th:block>
	<main>
		<div class="container">
			<div id="wizard_container">
				<form name="example-1" id="wrapped" method="POST">
					<input id="website" name="website" type="text" value="">
					<div id="middle-wizard">

						<div class="step" data-state="branchtype">
							<div class="question_title">
								<h3>[거울] 비규격 주문 PROCESS</h3>
								<p># 하단 보기에서 원하시는 거울 모델을 선택 해 주세요.</p>
							</div>
							<div class="row">
								<div class="col-lg-12 step-process-wrap">
									<a>1. 모델 선택</a>
									<a>2. 색상 선택</a>
									<a>3. 사이즈 선택</a>
									<a>4. LED 추가유무 선택</a>
									<a>5. 신청완료</a>
								</div>
								<div class="col-lg-4 animated zoomIn delay-fast">
									<div class="item">
										<input id="answer_1" type="radio" name="branch_1_group_1" value="shape"
											class="required">
										<label for="answer_1"><img src="/front/survey/img/seo_icon_1.svg"
												alt=""><strong>원형 거울</strong></label>
									</div>
								</div>
								<div class="col-lg-4 animated zoomIn delay-normal">
									<div class="item">
										<input id="answer_2" name="branch_1_group_1" type="radio" value="shape"
											class="required">
										<label for="answer_2"><img src="/front/survey/img/web_development_icon_1.svg"
												alt=""><strong>타원형 거울</strong></label>
									</div>
								</div>
								<div class="col-lg-4 animated zoomIn delay-medium">
									<div class="item">
										<input id="answer_3" name="branch_1_group_1" type="radio" value="shape"
											class="required">
										<label for="answer_3"><img src="/front/survey/img/design_icon_1.svg"
												alt=""><strong>사각형 거울</strong></label>
									</div>
								</div>
								<div class="col-lg-4 animated zoomIn delay-fast">
									<div class="item">
										<input id="answer_4" type="radio" name="branch_1_group_1" value="shape"
											class="required">
										<label for="answer_4"><img src="/front/survey/img/seo_icon_1.svg"
												alt=""><strong>아치형 거울</strong></label>
									</div>
								</div>
								<div class="col-lg-4 animated zoomIn delay-normal">
									<div class="item">
										<input id="answer_5" name="branch_1_group_1" type="radio" value="shape"
											class="required">
										<label for="answer_5"><img src="/front/survey/img/web_development_icon_1.svg"
												alt=""><strong>팔각형 거울</strong></label>
									</div>
								</div>
								<div class="col-lg-4 animated zoomIn delay-medium">
									<div class="item">
										<input id="answer_6" name="branch_1_group_1" type="radio" value="shape"
											class="required">
										<label for="answer_6"><img src="/front/survey/img/design_icon_1.svg"
												alt=""><strong>기타 거울</strong></label>
									</div>
								</div>
							</div>
						</div>

						<div class="branch" id="shape">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[거울] 비규격 주문 PROCESS</h3>
									<p># 하단 보기에서 원하시는 거울 색상을 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 사이즈 선택</a>
										<a>4. LED 추가유무 선택</a>
										<a>5. 신청완료</a>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input id="branch_1_answer_1" type="radio" name="branch_1_group_2"
												value="color" class="required">
											<label for="branch_1_answer_1"><img src="/front/survey/img/seo_icon_2.svg"
													alt=""><strong>노 프레임[No Frame]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-normal">
										<div class="item">
											<input id="branch_1_answer_2" name="branch_1_group_2" type="radio"
												value="color" class="required">
											<label for="branch_1_answer_2"><img src="/front/survey/img/seo_icon_3.svg"
													alt=""><strong>화이트 색상[White]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-medium">
										<div class="item">
											<input id="branch_1_answer_3" name="branch_1_group_2" type="radio"
												value="color" class="required">
											<label for="branch_1_answer_3"><img src="/front/survey/img/seo_icon_4.svg"
													alt=""><strong>크림 색상[Cream]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input id="branch_1_answer_4" type="radio" name="branch_1_group_2"
												value="color" class="required">
											<label for="branch_1_answer_4"><img src="/front/survey/img/seo_icon_2.svg"
													alt=""><strong>그레이 색상[Gray]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-normal">
										<div class="item">
											<input id="branch_1_answer_5" name="branch_1_group_2" type="radio"
												value="color" class="required">
											<label for="branch_1_answer_5"><img src="/front/survey/img/seo_icon_3.svg"
													alt=""><strong>다크블루 색상[Dark Blue]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-medium">
										<div class="item">
											<input id="branch_1_answer_6" name="branch_1_group_2" type="radio"
												value="color" class="required">
											<label for="branch_1_answer_6"><img src="/front/survey/img/seo_icon_4.svg"
													alt=""><strong>블랙 색상[Black]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input id="branch_1_answer_7" type="radio" name="branch_1_group_2"
												value="color" class="required">
											<label for="branch_1_answer_7"><img src="/front/survey/img/seo_icon_2.svg"
													alt=""><strong>내츄럴 색상[Natural]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-normal">
										<div class="item">
											<input id="branch_1_answer_8" name="branch_1_group_2" type="radio"
												value="color" class="required">
											<label for="branch_1_answer_8"><img src="/front/survey/img/seo_icon_3.svg"
													alt=""><strong>골드 색상[Gold]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-medium">
										<div class="item">
											<input id="branch_1_answer_9" name="branch_1_group_2" type="radio"
												value="color" class="required">
											<label for="branch_1_answer_9"><img src="/front/survey/img/seo_icon_4.svg"
													alt=""><strong>기타 색상[Others]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="branch" id="color">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[거울] 비규격 주문 PROCESS</h3>
									<p># 하단 보기에서 원하시는 거울 사이즈를 입력 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 사이즈 선택</a>
										<a>4. LED 추가유무 선택</a>
										<a>5. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast"
										style="margin:0 auto; margin-top:20px;">
										<div class="box_general">
											<h6 class="add_bottom_15">희망하시는 거울의 가로-세로 사이즈를 입력 해 주세요.</h6>
											<input type="checkbox" name="branch_1_group_3" id="branch_1_group_3" hidden
												value="size" checked>
											<div class="row" style="margin-bottom:20px;">
												<div class="item col-lg-12">
													<input type="text" name="branch_1_group_3" id="branch_1_group_4"
														placeholder="가로 : 166cm" class="qty form-control required">
												</div>
												<div class="item col-lg-12">
													<input type="text" name="branch_1_group_3" id="branch_1_group_5"
														placeholder="세로 : 166cm" class="qty form-control required">
												</div>
											</div>
											<h6 class="add_bottom_15">추가로 전달하고 싶은 메시지를 입력 해 주세요.</h6>
											<textarea class="form-control" style="height:100px; margin-bottom:0;"
												placeholder="Typer here" name="html_development_notes"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="branch" id="size">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[거울] 비규격 주문 PROCESS</h3>
									<p># LED 추가 여부를 결정 해 주세요.</p>
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 사이즈 선택</a>
										<a>4. LED 추가유무 선택</a>
										<a>5. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input id="branch_1_answer_11" type="radio" name="branch_1_group_2"
												value="yes" class="required">
											<label for="branch_1_answer_11"><img src="/front/survey/img/seo_icon_2.svg"
													alt=""><strong>추가함[YES]</strong></label>
										</div>
									</div>
									<div class="col-lg-6 animated zoomIn delay-normal">
										<div class="item">
											<input id="branch_1_answer_12" name="branch_1_group_2" type="radio"
												value="end" class="required">
											<label for="branch_1_answer_12"><img src="/front/survey/img/seo_icon_3.svg"
													alt=""><strong>추가 안함[NO]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>



						<div class="branch" id="yes">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[거울] 비규격 주문 PROCESS</h3>
									<p># LED의 작동 방식을 선택 해 주세요.</p>
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 사이즈 선택</a>
										<a>4. LED 추가유무 선택</a>
										<a>4-1. LED 작동방식 선택</a>
										<a>5. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input id="branch_1_answer_13" type="radio" name="branch_1_group_2"
												value="touch" class="required">
											<label for="branch_1_answer_13"><img src="/front/survey/img/seo_icon_2.svg"
													alt=""><strong>터치식[Touchable]</strong></label>
										</div>
									</div>
									<div class="col-lg-6 animated zoomIn delay-normal">
										<div class="item">
											<input id="branch_1_answer_14" name="branch_1_group_2" type="radio"
												value="direct" class="required">
											<label for="branch_1_answer_14"><img src="/front/survey/img/seo_icon_3.svg"
													alt=""><strong>직결식[___]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="branch" id="touch">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[거울] 비규격 주문 PROCESS</h3>
									<p># 가로형 / 세로형을 선택 해 주세요.</p>
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 사이즈 선택</a>
										<a>4. LED 추가유무 선택</a>
										<a>4-1. LED 작동방식 선택</a>
										<a>4-2. 가로형 / 세로형 선택</a>
										<a>5. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input id="branch_1_answer_15" type="radio" name="branch_1_group_2"
												value="end" class="required">
											<label for="branch_1_answer_15"><img src="/front/survey/img/seo_icon_2.svg"
													alt=""><strong>가로형[___]</strong></label>
										</div>
									</div>
									<div class="col-lg-6 animated zoomIn delay-normal">
										<div class="item">
											<input id="branch_1_answer_16" name="branch_1_group_2" type="radio"
												value="end" class="required">
											<label for="branch_1_answer_16"><img src="/front/survey/img/seo_icon_3.svg"
													alt=""><strong>세로형[___]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="branch" id="direct">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[거울] 비규격 주문 PROCESS</h3>
									<p># LED의 모션 감지센서 추가 여부를 선택 해 주세요.</p>
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 사이즈 선택</a>
										<a>4. LED 추가유무 선택</a>
										<a>4-1. LED 작동방식 선택</a>
										<a>4-2. 모션 감지센서 추가 유무 선택</a>
										<a>5. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input id="branch_1_answer_17" type="radio" name="branch_1_group_2"
												value="add" class="required">
											<label for="branch_1_answer_17"><img src="/front/survey/img/seo_icon_2.svg"
													alt=""><strong>추가함[___]</strong></label>
										</div>
									</div>
									<div class="col-lg-6 animated zoomIn delay-normal">
										<div class="item">
											<input id="branch_1_answer_18" name="branch_1_group_2" type="radio"
												value="end" class="required">
											<label for="branch_1_answer_18"><img src="/front/survey/img/seo_icon_3.svg"
													alt=""><strong>추가하지 않음[___]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="branch" id="add">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[거울] 비규격 주문 PROCESS</h3>
									<p># 모션감지센서의 가로형 / 세로형을 선택 해 주세요.</p>
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 사이즈 선택</a>
										<a>4. LED 추가유무 선택</a>
										<a>4-1. LED 작동방식 선택</a>
										<a>4-2. 모션 감지센서 추가 유무 선택</a>
										<a>4-3. 모션 감지센서 가로형 / 세로형 선택</a>
										<a>5. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input id="branch_1_answer_19" type="radio" name="branch_1_group_2"
												value="end" class="required">
											<label for="branch_1_answer_19"><img src="/front/survey/img/seo_icon_2.svg"
													alt=""><strong>가로형[___]</strong></label>
										</div>
									</div>
									<div class="col-lg-6 animated zoomIn delay-normal">
										<div class="item">
											<input id="branch_1_answer_20" name="branch_1_group_2" type="radio"
												value="end" class="required">
											<label for="branch_1_answer_20"><img src="/front/survey/img/seo_icon_3.svg"
													alt=""><strong>세로형[___]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="submit step" id="end">
							<div class="question_title">
								<h3>[거울] 비규격 주문 PROCESS</h3>
								<p># 신청이 완료 되었습니다. 개인정보를 입력 해 주세요.</p>
							</div>
							<div class="row justify-content-center">
								<div class="col-lg-12 step-process-wrap">
									<a>1. 모델 선택</a>
									<a>2. 색상 선택</a>
									<a>3. 사이즈 선택</a>
									<a>4. LED 추가유무 선택</a>
									<a>5. 신청완료</a>
								</div>
								<div class="col-lg-6 animated zoomIn delay-fast"style="margin:0 auto;margin-top:20px;">
									<div class="box_general">
										<div class="form-group">
											<input type="text" name="first_last_name" class="required form-control"
												placeholder="고객님의 성함을 입력 해 주세요.">
										</div>
										<div class="form-group">
											<input type="email" name="email" class="required form-control"
												placeholder="이메일 주소를 입력 해 주세요.">
										</div>
										<div class="form-group">
											<input type="text" name="telephone" class="form-control"
												placeholder="연락처를 입력 해 주세요.">
										</div>
										<div class="form-group add_bottom_30">
											<div class="styled-select">
												<textarea class="form-control" style="height:100px; margin-bottom:0;"
													placeholder="추가로 남기실 메시지를 입력 해 주세요."
													name="frontend_development_notes"></textarea>
											</div>
										</div>
										<div class="checkbox_questions">
											<input name="terms" type="checkbox" class="icheck required" value="yes">
											<label><a href="#" data-bs-toggle="modal"
													data-bs-target="#terms-txt">개인정보 처리방침에</a> 동의합니다.</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="bottom-wizard">
						<button type="button" name="backward" class="backward">Backward </button>
						<button type="button" name="forward" class="forward">Forward</button>
						<button type="submit" name="process" class="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</main>

	<th:block th:replace="fragments/front/survey/common :: surveyFooter"></th:block>
</body>

</html>