<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/clean/common :: cleanHead"></head>

<body class="home home-5">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v1 relative"
			th:replace="fragments/front/clean/common :: cleanHeader">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									시공사례
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/index">HOME</a><span class="delimiter"></span>시공사례
							</div>
						</div>
					</div>

					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="row">
									<div class="col-xl-3 col-lg-3 col-md-12 col-12 sidebar left-sidebar md-b-50">

										<div class="block block-post-cats">
											<div class="block-title">
												<h2>시공사례 카테고리</h2>
											</div>
											<div class="block-content">
												<div class="post-cats-list">
													<ul>
														<li class="current">
															<a href="#">[시공 카테고리] <span
																	class="count">9</span></a>
														</li>
														<li>
															<a href="#">[시공 카테고리] <span
																	class="count">4</span></a>
														</li>
														<li>
															<a href="#">[시공 카테고리] <span
																	class="count">3</span></a>
														</li>
														<li>
															<a href="#">[시공 카테고리] <span
																	class="count">6</span></a>
														</li>
														<li>
															<a href="#">[시공 카테고리] <span
																	class="count">2</span></a>
														</li>
													</ul>
												</div>
											</div>
										</div>

										<!-- Block Posts -->
										<div class="block block-posts">
											<div class="block-title">
												<h2>최근 시공사례</h2>
											</div>
											<div class="block-content">
												<ul class="posts-list">
													<li class="post-item">
														<a href="#" class="post-image">
															<img src="/front/clean/media/blog/1.jpg">
														</a>
														<div class="post-content">
															<h2 class="post-title">
																<a href="#">
																	[시공카테고리] / [시공장소]
																</a>
															</h2>
															<div class="post-time">
																<span class="post-date">2024.01.01</span>
															</div>
														</div>
													</li>
													<li class="post-item">
														<a href="#" class="post-image">
															<img src="/front/clean/media/blog/1.jpg">
														</a>
														<div class="post-content">
															<h2 class="post-title">
																<a href="#">
																	[시공카테고리] / [시공장소]
																</a>
															</h2>
															<div class="post-time">
																<span class="post-date">2024.01.01</span>
															</div>
														</div>
													</li>
													<li class="post-item">
														<a href="#" class="post-image">
															<img src="/front/clean/media/blog/1.jpg">
														</a>
														<div class="post-content">
															<h2 class="post-title">
																<a href="#">
																	[시공카테고리] / [시공장소]
																</a>
															</h2>
															<div class="post-time">
																<span class="post-date">2024.01.01</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>

										<div class="block block-post-tags">
											<div class="block-title">
												<h2>HASH TAGs</h2>
											</div>
											<div class="block-content">
												<div class="post-tags-list">
													<ul>
														<li>
															<a href="#"># hashTag</a>
														</li>
														<li>
															<a href="#"># hashTag</a>
														</li>
														<li>
															<a href="#"># hashTag</a>
														</li>
														<li>
															<a href="#"># hashTag</a>
														</li>
														<li>
															<a href="#"># hashTag</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-9 col-md-12 col-12">
										<div class="posts-list grid">
											<div class="row">
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="post-entry clearfix post-wapper">
														<div class="post-image">
															<a href="/constructionDetail">
																<img src="/front/clean/media/blog/1.jpg" alt="">
															</a>
														</div>
														<div class="post-content">
															<div class="post-categories">
																<a href="/constructionDetail">[시공카테고리]</a>
															</div>
															<h2 class="post-title">
																<a href="#">사공사례 TITLE</a>
															</h2>
															<div class="post-meta">
																<span class="post-time">2024.01.01</span>
																<span class="post-comment">조회수 : 1회</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="post-entry clearfix post-wapper">
														<div class="post-image">
															<a href="/constructionDetail">
																<img src="/front/clean/media/blog/1.jpg" alt="">
															</a>
														</div>
														<div class="post-content">
															<div class="post-categories">
																<a href="/constructionDetail">[시공카테고리]</a>
															</div>
															<h2 class="post-title">
																<a href="#">사공사례 TITLE</a>
															</h2>
															<div class="post-meta">
																<span class="post-time">2024.01.01</span>
																<span class="post-comment">조회수 : 1회</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="post-entry clearfix post-wapper">
														<div class="post-image">
															<a href="/constructionDetail">
																<img src="/front/clean/media/blog/1.jpg" alt="">
															</a>
														</div>
														<div class="post-content">
															<div class="post-categories">
																<a href="/constructionDetail">[시공카테고리]</a>
															</div>
															<h2 class="post-title">
																<a href="#">사공사례 TITLE</a>
															</h2>
															<div class="post-meta">
																<span class="post-time">2024.01.01</span>
																<span class="post-comment">조회수 : 1회</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="post-entry clearfix post-wapper">
														<div class="post-image">
															<a href="/constructionDetail">
																<img src="/front/clean/media/blog/1.jpg" alt="">
															</a>
														</div>
														<div class="post-content">
															<div class="post-categories">
																<a href="/constructionDetail">[시공카테고리]</a>
															</div>
															<h2 class="post-title">
																<a href="#">사공사례 TITLE</a>
															</h2>
															<div class="post-meta">
																<span class="post-time">2024.01.01</span>
																<span class="post-comment">조회수 : 1회</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="post-entry clearfix post-wapper">
														<div class="post-image">
															<a href="/constructionDetail">
																<img src="/front/clean/media/blog/1.jpg" alt="">
															</a>
														</div>
														<div class="post-content">
															<div class="post-categories">
																<a href="/constructionDetail">[시공카테고리]</a>
															</div>
															<h2 class="post-title">
																<a href="#">사공사례 TITLE</a>
															</h2>
															<div class="post-meta">
																<span class="post-time">2024.01.01</span>
																<span class="post-comment">조회수 : 1회</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="post-entry clearfix post-wapper">
														<div class="post-image">
															<a href="/constructionDetail">
																<img src="/front/clean/media/blog/1.jpg" alt="">
															</a>
														</div>
														<div class="post-content">
															<div class="post-categories">
																<a href="/constructionDetail">[시공카테고리]</a>
															</div>
															<h2 class="post-title">
																<a href="#">사공사례 TITLE</a>
															</h2>
															<div class="post-meta">
																<span class="post-time">2024.01.01</span>
																<span class="post-comment">조회수 : 1회</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="post-entry clearfix post-wapper">
														<div class="post-image">
															<a href="/constructionDetail">
																<img src="/front/clean/media/blog/1.jpg" alt="">
															</a>
														</div>
														<div class="post-content">
															<div class="post-categories">
																<a href="/constructionDetail">[시공카테고리]</a>
															</div>
															<h2 class="post-title">
																<a href="#">사공사례 TITLE</a>
															</h2>
															<div class="post-meta">
																<span class="post-time">2024.01.01</span>
																<span class="post-comment">조회수 : 1회</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<nav class="pagination">
											<ul class="page-numbers">
												<li><a class="prev page-numbers" href="#">Previous</a></li>
												<li><span aria-current="page" class="page-numbers current">1</span></li>
												<li><a class="page-numbers" href="#">2</a></li>
												<li><a class="page-numbers" href="#">3</a></li>
												<li><a class="next page-numbers" href="#">Next</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<footer id="site-footer" class="site-footer" th:replace="fragments/front/clean/common :: cleanFooter">
		</footer>
	</div>
	<th:block th:replace="fragments/front/clean/common :: cleanScript"></th:block>
</body>

</html>