<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/clean/common :: cleanHead"></head>

<body class="home home-5">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v1 relative"
			th:replace="fragments/front/clean/common :: cleanHeader">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									공지사항
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/index">HOME</a><span class="delimiter"></span>공지사항
							</div>
						</div>
					</div>

					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r faq-block">
								<div class="search-wrap">
									<!-- Block Post Search -->
									<div class="block block-post-search" style="display:flex;">
										<div class="block-content">
											<select class="form-control">
												<option>=== 10개씩 보기 ===</option>
												<option>=== 10개씩 보기 ===</option>
												<option>=== 10개씩 보기 ===</option>
											</select>
										</div>
										<div class="block-content">
											<form method="get" class="search-from" action="">
												<input type="text" value="" name="s" class="s"
													placeholder="검색어를 입력 해 주세요.">
												<button class="btn" type="submit">
													<i class="icon-search"></i>
												</button>
											</form>
										</div>
									</div>

									<div class="block block-post-cats">
										<div class="block-content">
											<a class="button-outline" href="#"># 중요공지</a>
											<a class="button-outline" href="#"># 일반공지</a>
											<a class="button-outline" href="#"># 모든공지사항</a>
										</div>
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-12 notice-wrap">
									<div class="posts-list list">
										<div class="post-entry post-wapper">
											<div class="post-content">
												<div class="notice-left-content">
													<h2 class="post-title">
														<a href="/noticeDetail">공지사항 제목</a>
													</h2>
													<div class="post-meta">
														<span class="post-categories"><i class="icon_folder-alt"></i> <a
																href="#"># 공지사항주제</a></span>
														<span class="post-time"><i class="icon_clock_alt"></i>
															2024.01.01</span>
														<span class="post-comment"><i class="icon_comment_alt"></i> 조회수
															: 1회</span>
													</div>
													<div class="post-excerpt">
														공지사항 내용 중 일부분이 표시되며 영역 외부는 [....]을 통해 표시됩니다.
													</div>
												</div>

												<div class="post-btn">
													<a class="button-outline" href="/noticeDetail">자세히 보기</a>
												</div>
											</div>
										</div>
										<div class="post-entry post-wapper">
											<div class="post-content">
												<div class="notice-left-content">
													<h2 class="post-title">
														<a href="/noticeDetail">공지사항 제목</a>
													</h2>
													<div class="post-meta">
														<span class="post-categories"><i class="icon_folder-alt"></i> <a
																href="#"># 공지사항주제</a></span>
														<span class="post-time"><i class="icon_clock_alt"></i>
															2024.01.01</span>
														<span class="post-comment"><i class="icon_comment_alt"></i> 조회수
															: 1회</span>
													</div>
													<div class="post-excerpt">
														공지사항 내용 중 일부분이 표시되며 영역 외부는 [....]을 통해 표시됩니다.
													</div>
												</div>

												<div class="post-btn">
													<a class="button-outline" href="/noticeDetail">자세히 보기</a>
												</div>
											</div>
										</div>
										<div class="post-entry post-wapper">
											<div class="post-content">
												<div class="notice-left-content">
													<h2 class="post-title">
														<a href="/noticeDetail">공지사항 제목</a>
													</h2>
													<div class="post-meta">
														<span class="post-categories"><i class="icon_folder-alt"></i> <a
																href="#"># 공지사항주제</a></span>
														<span class="post-time"><i class="icon_clock_alt"></i>
															2024.01.01</span>
														<span class="post-comment"><i class="icon_comment_alt"></i> 조회수
															: 1회</span>
													</div>
													<div class="post-excerpt">
														공지사항 내용 중 일부분이 표시되며 영역 외부는 [....]을 통해 표시됩니다.
													</div>
												</div>

												<div class="post-btn">
													<a class="button-outline" href="/noticeDetail">자세히 보기</a>
												</div>
											</div>
										</div>
										<div class="post-entry post-wapper">
											<div class="post-content">
												<div class="notice-left-content">
													<h2 class="post-title">
														<a href="/noticeDetail">공지사항 제목</a>
													</h2>
													<div class="post-meta">
														<span class="post-categories"><i class="icon_folder-alt"></i> <a
																href="#"># 공지사항주제</a></span>
														<span class="post-time"><i class="icon_clock_alt"></i>
															2024.01.01</span>
														<span class="post-comment"><i class="icon_comment_alt"></i> 조회수
															: 1회</span>
													</div>
													<div class="post-excerpt">
														공지사항 내용 중 일부분이 표시되며 영역 외부는 [....]을 통해 표시됩니다.
													</div>
												</div>

												<div class="post-btn">
													<a class="button-outline" href="/noticeDetail">자세히 보기</a>
												</div>
											</div>
										</div>
										<div class="post-entry post-wapper">
											<div class="post-content">
												<div class="notice-left-content">
													<h2 class="post-title">
														<a href="/noticeDetail">공지사항 제목</a>
													</h2>
													<div class="post-meta">
														<span class="post-categories"><i class="icon_folder-alt"></i> <a
																href="#"># 공지사항주제</a></span>
														<span class="post-time"><i class="icon_clock_alt"></i>
															2024.01.01</span>
														<span class="post-comment"><i class="icon_comment_alt"></i> 조회수
															: 1회</span>
													</div>
													<div class="post-excerpt">
														공지사항 내용 중 일부분이 표시되며 영역 외부는 [....]을 통해 표시됩니다.
													</div>
												</div>

												<div class="post-btn">
													<a class="button-outline" href="/noticeDetail">자세히 보기</a>
												</div>
											</div>
										</div>
									</div>

									<nav class="pagination">
										<ul class="page-numbers">
											<li><a class="prev page-numbers" href="#">Previous</a></li>
											<li><span aria-current="page" class="page-numbers current">1</span></li>
											<li><a class="page-numbers" href="#">2</a></li>
											<li><a class="page-numbers" href="#">3</a></li>
											<li><a class="next page-numbers" href="#">Next</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div><!-- #content -->
			</div><!-- #primary -->
		</div><!-- #main-content -->
	</div>

	<footer id="site-footer" class="site-footer" th:replace="fragments/front/clean/common :: cleanFooter">
	</footer>
	</div>
	<th:block th:replace="fragments/front/clean/common :: cleanScript"></th:block>
</body>

</html>